@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
    font-family: "Quantico", sans-serif;
}
header {
    &#fred {
        font-size: 200px;
        background-color: #3fa129;
    }
    .fredhead {
        display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    }
    #waterType {
    max-width: 100%;
    max-height: 100%;
    }
        #ghostType {
    max-width: 100%;
    max-height: 100%;
    }
}
main {
        #fredim {
        margin-bottom: 1rem;
        display: block;
        margin: 0 auto;
        width: 35%;
    }
        .fredlink {
        font-size: 30px;
        text-decoration: none;
        color: var(--link-color);
                padding: 50px;
        text-align: center;
    }
	.fredlink {
        display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    background-color: #ffffff;
    &:hover {
        color: rgb(255, 255, 255);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 rgb(0, 0, 0);
        background-color: #585858;
        background-image: url("../images/fredlink.png");
    }
	}
}