@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
	--link-color: #0090c9;
}
.moveSet, .row{
	display:flex; flex-direction: row;
	align-items: center;
}
.column{
	display: flex; flex-direction: column;
}
html {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #1d1d1d;
}

header {
    background-color: #c01111;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 100px;
    &#fwompa {
		background: linear-gradient(90deg, #2980ef, #704170 60%);
    }
}

main {
	.moveSets, .ability {
		align-items: center;
	}
	.mpa {
		> div {
			flex: 1;
		} align-items: center;
		gap: 1rem;
	}
    margin-bottom: 1rem;
    .frontPagePokemon {
        font-size: 30px;
        text-decoration: none;
        color: var(--link-color);
    }
	.frontPagePokemon {
text-align: center;
	}
    .moveSet {
        
    }
    #normalm {
        color: #9fa19f;
    }
    #firem {
        color: #e62829;
    }
    #waterm {
        color: #2980ef;
    }
    #grassm {
        color: #3fa129;
    }
    #electricm {
        color: #fac000;
    }
    #psychicm {
        color: #ef4179;
    }
    #icem {
        color: #3dcef3;
    }
    #dragonm {
        color: #5060e1;
    }
    #darkm {
        color: #624d4e;
    }
    #fairym {
        color: #ef70ef;
    }
    #fightingm {
        color: #ff8000;
    }
    #flyingm {
        color: #81b9ef;
    }
    #poisonm {
        color: #9141cb;
    }
    #groundm {
        color: #915121;
    }
    #rockm {
        color: #afa981;
    }
    #bugm {
        color: #91a119;
    }
    #ghostm {
        color: #704170;
    }
    #steelm {
        color: #60a1b8;
    }
    #fwompaim {
        margin-bottom: 1rem;
        display: block;
        margin: 0 auto;
        width: 33%;
    }
}
#section-1 {
    background-color: #1bb5c0;
}
/*Standards Start*/

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

/*Standards End*/
