@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
	--link-color: #0090c9;
}
.moveSet, .row {
	display:flex; flex-direction: row;
	align-items: center;
    text-wrap: wrap;
}
.column{
	display: flex; flex-direction: column;
}
html {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #1d1d1d;
}

header {
    background-color: #c01111;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 100px;
}


main {
        #star5 {
        margin-bottom: 1rem;
        display: block;
        margin: 0 auto;
        width: 55%;
    }
        #star4 {
        margin-bottom: 1rem;
        display: block;
        margin: 0 auto;
        width: 55%;
    }
        #star3 {
        margin-bottom: 1rem;
        display: block;
        margin: 0 auto;
        width: 55%;
    }
        #star2 {
        margin-bottom: 1rem;
        display: block;
        margin: 0 auto;
        width: 55%;
    }
        #star1 {
        margin-bottom: 1rem;
        display: block;
        margin: 0 auto;
        width: 55%;
    }
        #star0 {
        margin-bottom: 1rem;
        display: block;
        margin: 0 auto;
        width: 55%;
    }
	.moveSets, .ability {
        size: 5px;
		align-items: center;
	}
	.mpa {
		> div {
			flex: 1;
		} align-items: center;
		gap: 1rem;
	}
    margin-bottom: 1rem;
    .frontPagePokemon {
        font-size: 30px;
        text-decoration: none;
        color: var(--link-color);
                padding: 50px;
        text-align: center;
    }
	.frontPagePokemon {
        display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    background-color: #ffffff;
    &:hover {
        background-color: #585858;*/
    }
	}
    
    .linkpokemon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content:center;
        padding: 10%;
        padding-top: 5%;
        gap: 1.5rem;
    }
    #moveSetTitle {
        color:#ffffff;
    }
    #slashM {
        color:#ffffff;
    }
    .ability {
        color:#ffffff;
        font-size: 60px
    }
    .moveSets {
        font-size: 60px;
    }
    #normalm {
        color: #9fa19f;
    }
    #firem {
        color: #e62829;
    }
    #waterm {
        color: #2980ef;
    }
    #grassm {
        color: #3fa129;
    }
    #electricm {
        color: #fac000;
    }
    #psychicm {
        color: #ef4179;
    }
    #icem {
        color: #3dcef3;
    }
    #dragonm {
        color: #5060e1;
    }
    #darkm {
        color: #624d4e;
    }
    #fairym {
        color: #ef70ef;
    }
    #fightingm {
        color: #ff8000;
    }
    #flyingm {
        color: #81b9ef;
    }
    #poisonm {
        color: #9141cb;
    }
    #groundm {
        color: #915121;
    }
    #rockm {
        color: #afa981;
    }
    #bugm {
        color: #91a119;
    }
    #ghostm {
        color: #704170;
    }
    #steelm {
        color: #6e868f;
    }
}
#section-1 {
    background-color: #1bb5c0;
}
/*Standards Start*/

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 35px;
    color: #ffffff;
    padding: 50px;
    margin-top: -150px;
    line-height: 150%;
}
footer {
    text-align: center;
    #back {
        font-size: 35px;
    }
    }