@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
    font-family: "Quantico", sans-serif;
}
header {
    &#raldin {
        font-size: 200px;
		background: linear-gradient(90deg, #6e868f, #5060e1 132%);
    }
    .raldinhead {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    #steelType {
    max-width: 100%;
    max-height: 100%;
    }
    #dragonType {
    max-width: 100%;
    max-height: 100%;
    }
}
main {
            #raldinim {
            width: 35%;
        }
            .raldinlink {
        font-size: 30px;
        text-decoration: none;
        color: var(--link-color);
                padding: 50px;
        text-align: center;
    }
	.raldinlink {
        display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    background-color: #ffffff;
    &:hover {
        color: rgb(255, 255, 255);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 rgb(0, 0, 0);
        background-color: #585858;
        background-image: url("../images/raldinlink.png");
    }
	}
    }